:root{
    --navbar-background-color: navy;
    --navbar-border-color: #e7e7e7;
    --navbar-brand-color: red;
    --navbar-brand-focus: yellow;/*#5e5e5e;*/
    --navbar-brand-background: transparent;
    --navbar-nav-link: #333;
    --navbar-nav-background: transparent;
    --navbar-nav-active: #555;
    --navbar-nav-disabled: #ccc;
    --navbar-nav-toggle: #ddd;
    --navbar-nav-toggle-background: #888;
    
}

.navbar-red{
    background-color:var(--navbar-background-color);
    border-color:var(--navbar-border-color);
    }
.navbar-red .navbar-brand{
    color:var(--navbar-brand-color);
    }
.navbar-red .navbar-brand:focus,.navbar-red .navbar-brand:hover{
    color:var(--navbar-brand-focus);
    background-color:var(--navbar-brand-background);
    }
.navbar-red .navbar-text{
    color:var(--navbar-brand-color)
    }
.navbar-red .navbar-nav>li>a{
    color:var(--navbar-brand-color)
    }
.navbar-red .navbar-nav>li>a:focus,.navbar-red .navbar-nav>li>a:hover{
    color:var(--navbar-brand-focus);
    background-color:var(--navbar-nav-background)
    }
.navbar-red .navbar-nav>.active>a,.navbar-red .navbar-nav>.active>a:focus,.navbar-red .navbar-nav>.active>a:hover{
    color:var(--navbar-nav-active);
    background-color:var(--navbar-border-color)
    }
.navbar-red .navbar-nav>.disabled>a,.navbar-red .navbar-nav>.disabled>a:focus,.navbar-red .navbar-nav>.disabled>a:hover{
    color:var(--navbar-nav-disabled);
    background-color:var(--navbar-nav-background);
    }
.navbar-red .navbar-nav>.open>a,.navbar-red .navbar-nav>.open>a:focus,.navbar-red .navbar-nav>.open>a:hover{
    color:var(--navbar-nav-active);
    background-color:var(--navbar-nav-background);
    }
@media (max-width:767px){
.navbar-red .navbar-nav .open .dropdown-menu>li>a{
    color:var(--navbar-brand-color)
    }
.navbar-red .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-red .navbar-nav .open .dropdown-menu>li>a:hover{
    color:var(--navbar-nav-link);
    background-color:var(--navbar-nav-background);
    }
.navbar-red .navbar-nav .open .dropdown-menu>.active>a,.navbar-red .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-red .navbar-nav .open .dropdown-menu>.active>a:hover{
    color:var(--navbar-nav-active);
    background-color:var(--navbar-nav-background);
    }
.navbar-red .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-red .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-red .navbar-nav .open .dropdown-menu>.disabled>a:hover{
    color:var(--navbar-nav-disabled);
    background-color:var(--navbar-nav-background);
    }
}
.navbar-red .navbar-toggle{
    border-color:var(--navbar-nav-toggle)
    }
.navbar-red .navbar-toggle:focus,.navbar-red .navbar-toggle:hover{
    background-color:var(--navbar-nav-toggle)
    }
.navbar-red .navbar-toggle .icon-bar{
    background-color:var(--navbar-nav-toggle-background)
    }
.navbar-red .navbar-collapse,.navbar-red .navbar-form{
    border-color:var(--navbar-border-color)
    }
.navbar-red .navbar-link{
    color:var(--navbar-brand-color)
    }
.navbar-red .navbar-link:hover{
    color:var(--navbar-nav-link)
    }
.navbar-red .btn-link{
    color:var(--navbar-brand-color)
    }
.navbar-red .btn-link:focus,.navbar-red .btn-link:hover{
    color:var(--navbar-nav-link)
    }
.navbar-red .btn-link[disabled]:focus,.navbar-red .btn-link[disabled]:hover,fieldset[disabled] .navbar-red .btn-link:focus,fieldset[disabled] .navbar-red .btn-link:hover{
    color:var(--navbar-nav-disabled)
    }
/*modal-dialog*/
.modal-dialog{
    position:relative;
    width:auto;
    margin:10px
    }
@media (min-width:768px){
    .modal-dialog{
        width:85%;           /*width of modal dialog 300px*/
        margin:30px auto}
    .modal-content{
        -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
        box-shadow:0 5px 15px rgba(0,0,0,.5);
        }
    .modal-sm{
        width:300px
        }
    }
@media (min-width:992px){
    .modal-lg{
        width:75%
        }
    }

@media (min-width:768px){
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{
        float:left
        }
    .col-sm-12{
        width:100%
        }
.col-sm-11{width:91.66666667%}
.col-sm-10{width:80%}/*ширина поля ввода{width:83.33333333%}*/
.col-sm-9{width:75%}
.col-sm-8{width:66.66666667%}
.col-sm-7{width:58.33333333%}
.col-sm-6{width:50%}
.col-sm-5{width:41.66666667%}
.col-sm-4{width:33.33333333%}
.col-sm-3{width:25%}
.col-sm-2{
        width:20%;}/*ширина подписи к полю ввода{width:16.66666667%}*/
.col-sm-1{width:8.33333333%}
.col-sm-pull-12{right:100%}
.col-sm-pull-11{right:91.66666667%}
.col-sm-pull-10{right:83.33333333%}
.col-sm-pull-9{right:75%}
.col-sm-pull-8{right:66.66666667%}
.col-sm-pull-7{right:58.33333333%}
.col-sm-pull-6{right:50%}
.col-sm-pull-5{right:41.66666667%}
.col-sm-pull-4{right:33.33333333%}
.col-sm-pull-3{right:25%}
.col-sm-pull-2{right:16.66666667%}
.col-sm-pull-1{right:8.33333333%}
.col-sm-pull-0{right:auto}
.col-sm-push-12{left:100%}
.col-sm-push-11{left:91.66666667%}
.col-sm-push-10{left:83.33333333%}
.col-sm-push-9{left:75%}
.col-sm-push-8{left:66.66666667%}
.col-sm-push-7{left:58.33333333%}
.col-sm-push-6{left:50%}
.col-sm-push-5{left:41.66666667%}
.col-sm-push-4{left:33.33333333%}
.col-sm-push-3{left:25%}
.col-sm-push-2{left:16.66666667%}
.col-sm-push-1{left:8.33333333%}
.col-sm-push-0{left:auto}
.col-sm-offset-12{margin-left:100%}
.col-sm-offset-11{margin-left:91.66666667%}
.col-sm-offset-10{margin-left:83.33333333%}
.col-sm-offset-9{margin-left:75%}
.col-sm-offset-8{margin-left:66.66666667%}
.col-sm-offset-7{margin-left:58.33333333%}
.col-sm-offset-6{margin-left:50%}
.col-sm-offset-5{margin-left:41.66666667%}
.col-sm-offset-4{margin-left:33.33333333%}
.col-sm-offset-3{margin-left:25%}
.col-sm-offset-2{margin-left:16.66666667%}
.col-sm-offset-1{margin-left:8.33333333%}
.col-sm-offset-0{margin-left:0}
}

@media (min-width:768px){
.form-horizontal .control-label{
    padding-top:7px;
    margin-bottom:0;
    text-align:start}       /*text align of label form*/
}
.form-horizontal .has-feedback .form-control-feedback{right:15px}
@media (min-width:768px){
.form-horizontal .form-group-lg .control-label{padding-top:11px;font-size:18px}
}
@media (min-width:768px){
.form-horizontal .form-group-sm .control-label{padding-top:6px;font-size:12px}
}

textarea.form-control{
    display: block;
    height: 10em;   /*heigh of textarea*/
    resize:none;
    overflow:auto;
    }
/*width of detail.html columns*/
.table-striped>tbody>tr>th{
    width: auto;                 /*label*/
    }
.table-striped>tbody>tr>td{
    width: auto;                /*value*/
    }